.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:lightgray

}
nav {
    display:flex;
    flex-wrap: wrap;

}
li {
    font-size:40px;
}

ul {
    display:flex;
    flex-wrap: wrap;

}

h1 {
    font-size: 40px;
}

#backgroundhero {
    height:150px;
    background-color:lightgray;
}
div {
    display:flex;
}

.align1 {
    margin-left:8%;
    margin-right:10%;
    border-right: solid 8px lightsalmon;

}

.margintitle {
    margin-right: 1em;
    

}