.header-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:lightgray

}
nav {
    display:inline;

}
li {
    display:inline;
    font-size:40px;
}

ul {
    display:inline;
}

h1 {
    font-size: 40px;
}
